main {
    padding-left: 30px;
    padding-right: 30px;
}
body {
			width: 600px;
			margin: 0auto;
			border: 3px solid #931420;
			background-color: #fffded;
		}
h1 {
	border-top: 3px solid #431420;
	border-bottom: 3px solid #431420;
	padding: 10px;
		}
header h2, header h3 {
    	text-indent: 0;
}
blockquote {
    font-style: italic;
}
